:root{
    --violet-color: #FBF5FF;
    --button-color: #232323;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    /* animation: 1s ease-out 0s 1 slideInFromLeft; */
    margin:0;
    font-family: "Palatino Linotype";
    color:#232323;
    font-size:16px;
}

html {
    scroll-behavior: smooth;
}

a:hover{
    text-decoration: none;
    color:#232323;
    opacity: 0.7;
}

.wrapper{
    /* max-width: 1240px; */
    margin:0 auto;
    background: white;
    margin-right: min(15%);
    margin-left: min(15%);
}


/* Buttons */


@media only screen and (max-width: 480px) {

    .btn{
        padding: 2.8px 6.4px;
        font-size: 1.10vw;
        border-radius: 22px;
    }

}


@media only screen and (min-width: 481px) and (max-width: 768px) {
    .btn{
        padding: 5.6px 12.8px;
        font-size: 2vw;
        border-radius: 22px;
        
    }
}


@media only screen and (min-width: 769px) and (max-width: 1024px) {

    .btn{
        padding: 8.4px 19.2px;
        font-size: 1.80vw;
        border-radius: 22px;
        
    }
}


@media only screen and (min-width: 1025px) and (max-width: 1400px) {
    .btn{
        padding: 11.2px 25.6px;
        font-size: 1.40vw;
        border-radius: 22px;
        
    }
}


@media only screen and (min-width: 1401px) {

    .btn{
        padding: 14px 32px;
        font-size: 1.10vw;
        border-radius: 22px;
        
    }

}

.btn{
    color:#fff;
    display: inline-block;
    font-weight: 400;
    /* font-size: 22px; */
    text-decoration: none;
}



.btn.dark{
    background-color: var(--button-color);
}

.btn.dark:hover{
    text-decoration: none;
    color:#fff;
    opacity: 0.9;

}

@media only screen and (max-width: 480px) {

}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .orb{
        margin-top: -4.25vh;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .orb{
        margin-top: -8.5vh;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1400px) {
    .orb{
        margin-top: -12.75vh;
    }
}

@media only screen and (min-width: 1401px) {
    .orb{
        margin-top: -17vh;
    }
}

.orb{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    /* min-height: 1200px; */
    position: absolute;
    top: 0;
    left: 0;
   
    z-index: -2;
}

@media only screen and (max-width: 480px) {
    .intro-canvas{
        top:24px;
    }
    nav{
        margin-top:10px;
    }

}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .intro-canvas{
        top:24px;
    }
    nav{
        margin-top:40px;
    }

}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .intro-canvas{
        top:48px;
    }
    nav{
        margin-top:50px;
    }

}

@media only screen and (min-width: 1025px) and (max-width: 1400px) {
    .intro-canvas{
        top:96px;
    }
    nav{
        margin-top:60px;
    }

}

@media only screen and (min-width: 1401px) {
    .intro-canvas{
        top:120px;
    }
    nav{
        margin-top:60px;
    }
 
}

.intro-canvas{
    overflow: hidden;
    width: 100vw;
   /* height: 180vh; */
    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    will-change: transform;
    
}


.intro-overlay{
    overflow: hidden;
    /* width: 35vw; */
    /* height: 35vw; */
    
    position: absolute;
    width: 20vw;
    height: 20vw;

    left: 50%;
    border-radius: 50%;
    background: #f6f8fa;
    transform: translateX(-50%);
    z-index: -1;
    opacity: 0.92;

}
/* Header */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position:fixed; */
   /* width:1240px; */
   
    z-index:100;
}

@media only screen and (max-width: 480px) {
    nav .logo a{
        font-size: 2.4vw;
    }
    nav ul li a{
        font-size: 2.4vw;
    }
    nav ul{
        gap: 15px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    nav .logo a{
        font-size: 2.2vw;
    }
    nav ul li a{
        font-size: 2.2vw;
    }
    nav ul{
        gap: 30px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    nav .logo a{
        font-size: 2vw;
    }
    nav ul li a{
        font-size: 2vw;
    }
    nav ul{
        gap: 45px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1400px) {
    nav .logo a{
        font-size: 1.8vw;
    }

    nav ul li a{
        font-size: 1.8vw;
    }
    nav ul{
        gap: 60px;
    }
}

@media only screen and (min-width: 1401px) {
    nav .logo a{
        font-size: 1.4vw;
    }

    nav ul li a{
        font-size: 1.4vw;
    }
    nav ul{
        gap: 90px;
    }
}

nav .logo a{
    font-weight: 400;
    /* font-size: 26px; */
    
    color: #232323;
    font-family: 'Palatino Linotype';
    text-decoration: none;

}

nav ul{
    display: flex;
    align-items: center;

    list-style:none;
    margin:0;
}

nav ul li a{
    font-family: 'Palatino Linotype';
    font-style: normal;
    font-weight: 400;
    /* font-size: 26px; */
    
    color: #232323;
    text-decoration: none;
    position: relative;

    
}

/*
nav ul li a:hover::before{
    content: "";
    position: absolute;
    left: 41%;
    bottom: 2px;
    width: 80px;
    height: 14px;
    transform: skew(-12deg) translateX(-50%);
    background: rgba(240,224,242,0.5);
    z-index: 0;

}
*/ 
nav ul li a:hover::before{
content:"";
position:absolute;
background:rgb(0, 0, 0);
width:0.4vw;
height:0.4vw;
border-radius:100%;
left:calc(51%);
top:calc(100%);
}

/* Hero section */

@media only screen and (max-width: 480px) {
    .hero-section{
        margin-top:20px;
    }
    .hero-section .center{
        padding:14.4px 0 14.4px 0;
    }
    .hero-section .center h1{
        font-size: 4.6vw; 
    }
    .hero-section .center p{
        font-size: 2vw;
    }
    .section-header{
        margin-top:10px;
    }
    .section-header p{
        font-size: 2.2vw;
    }
    .hero-section .btn{
        margin-top: 6px;
    }
    .section-header hr{
        width: 20px;
        border-top: 1px solid #000000;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .hero-section{
        margin-top:30px;
    }
    .hero-section .center{
        padding:28.8px 0 28.8px 0;
    }
    .hero-section .center h1{
        font-size: 4.4vw; 
    }
    .hero-section .center p{
        font-size: 2vw;
    }
    .section-header{
        margin-top:20px;
    }
    .section-header p{
        font-size: 2vw;
    }
    .hero-section .btn{
        margin-top: 12px;
    }
    .section-header hr{
        width: 30px;
        border-top: 1px solid #000000;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .hero-section{
        margin-top:40px;
    }
    .hero-section .center{
        padding:43.2px 0 43.2px 0;
    }
    .hero-section .center h1{
        font-size: 4.2vw; 
    }
    .hero-section .center p{
        font-size: 1.50vw;
    }
    .section-header{
        margin-top:30px;
    }
    .section-header p{
        font-size: 1.8vw;
    }
    .hero-section .btn{
        margin-top: 18px;    
    }
    .section-header hr{
        width: 40px;
        border-top: 2px solid #000000;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1400px) {
    .hero-section{
        margin-top:50px;
    }
    .hero-section .center{
        padding:57.6px 0 57.6px 0;
    }
    .hero-section .center h1{
        font-size: 4vw; 
    }
    .hero-section .center p{
        font-size: 1.30vw;
    }
    .section-header{
        margin-top:40px;
    }
    .section-header p{
        font-size: 1.6vw;
    }
    .hero-section .btn{
        margin-top: 24px;
    }
    .section-header hr{
        width: 50px;
        border-top: 2px solid #000000;
    }
}

@media only screen and (min-width: 1401px) {
    .hero-section{
        margin-top:50px;
    }
    .hero-section .center{
        padding:72px 0 72px 0;
    }
    .hero-section .center h1{
        font-size: 3.8vw; 
    }
    .hero-section .center p{
        font-size: 1.10vw;
    }
    .section-header{
        margin-top:50px;
    }
    .section-header p{
        font-size: 1.4vw;
    }
    .section-header hr{
        width: 60px;
        border-top: 2px solid #000000;
    }
    .hero-section .btn{
        margin-top: 30px;
    }
}

.hero-section{

    width:100%;
    align-items: center;
    justify-content: space-between;
    
    display: flex;
    flex-direction: column;
    position: relative;
    background: radial-gradient(48.14% 277.22% at 48.91% 51.86%, #FFFFFF 0%, rgba(251, 238, 254, 0.0729167) 50%, rgba(213, 208, 217, 0.385417) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border-radius: 18px;

}

.hero-section .center{
    text-align: center;
    
    z-index: 1;
    
}

.hero-section .center h1{
    font-family: 'Palatino Linotype';
    font-style: normal;
    font-weight: 400;
    /* font-size: 64px; */
    
    text-align: center;
    text-transform: uppercase;
    margin: 0;


}

.hero-section .center p{
    font-family: 'Palatino Linotype';
    font-style: normal;
    font-weight: 400;
    /* font-size: 18px; */
   
    text-align: center;
    padding-top:6px;
    margin: 0;

}



.hero-section .eclipse-gradiend{

    align-items: center;
    padding: 0px;
    isolation: isolate;
    width: 490px;
    height: 453px;
    margin-top: 10px;
    position:absolute;
    z-index: 0;

}

.hero-section .eclipse-gradiend .eclipse1{
    width: 490px;
    height: 453px;
    background: linear-gradient(71.95deg, #FFA5F1 2.51%, rgba(255, 255, 255, 0) 72.32%), linear-gradient(124.27deg, #FC7B1E -1.87%, rgba(241, 255, 155, 0) 93.33%);
    box-shadow: inset 0px 4px 4px rgba(197, 197, 197, 0.04);
    filter: blur(0.5px);
    backdrop-filter: blur(2px);
    z-index: 0;
    border-radius: 50%;

}

.hero-section .eclipse-gradiend .eclipse2{

    position: absolute;
    width: 468px;
    height: 417px;
    left: 11px;
    top: 15px;
    background: #FCFCFC;
    z-index: 1;
    border-radius: 50%;
}

/* Projects section */


.section-header{
    width: 100%;
    display: flex;
    gap: 0px;
    white-space: nowrap;
    overflow-x: auto;

}

.section-header .hr{
    display: flex;
    align-self: center;
}

.section-header p{
    display: flex;
    align-self: center;
    font-family: 'Palatino Linotype';
    font-style: normal;
    font-weight: 400;
    /* font-size: 26px; */
    
    margin-left:18px;
    margin-bottom: 0;
    margin-top: 0;
}



@media only screen and (max-width: 480px) {
    .projects-section .project-card .info .info-title h4{
        font-size: 2.2vw;
    }
    .projects-section .project-card .info .info-desc p{
        font-size: 1.85vw;
    }
    .project-card{
        margin-top:10px;
    }
    .projects-section{
        gap:18px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .projects-section .project-card .info .info-title h4{
        font-size: 2vw;
    }
    .projects-section .project-card .info .info-desc p{
        font-size: 1.65vw;
    }
    .project-card{
        margin-top:20px;
    }
    .projects-section{
        gap:36px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .projects-section .project-card .info .info-title h4{
        font-size: 1.80vw;
    }
    .projects-section .project-card .info .info-desc p{
        font-size: 1.45vw;
    }
    .project-card{
        margin-top:30px;
    }
    .projects-section{
        gap:54px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1400px) {
    .projects-section .project-card .info .info-title h4{
        font-size: 1.60vw;
    }
    .projects-section .project-card .info .info-desc p{
        font-size: 1.25vw;
    }
    .project-card{
        margin-top:40px;
    }
    .projects-section{
        gap:72px;
    }
}

@media only screen and (min-width: 1401px) {
    .projects-section .project-card .info .info-title h4{
        font-size: 1.40vw;
    } 
    .projects-section .project-card .info .info-desc p{
        font-size: 1.15vw;
    }
    .project-card{
        margin-top:50px;
    }
    .projects-section{
        gap:90px;
    }
}

.projects-section{
    /* margin-top:50px; */
    /*align-items: center;*/

}

.projects-section .project-card .info .info-title h4{
    font-weight: 700;
    /* font-size: 26px; */
    margin-top:0;
}

.projects-section .project-card .info .info-desc p{
    font-weight: 400;
    /* font-size: 22px; */
    
}

.projects-section{
    display: flex;
}

.project-card a:hover{
    opacity: 1;
}

.project-card .img-hover-zoom{
    overflow: hidden; 
    height: 100%;
    border-radius:8px;
}

.project-card img{
    width:100%;
    transition: transform .5s ease;
}

.project-card img:hover{
    transform: scale(1.05);
}


/* About me section */

@media only screen and (max-width: 480px) {
    .aboutme-section{
        gap:18px;
        margin-top:10px;
    }
    .aboutme-section .right .info .info-title h4{
        font-size: 2.2vw;
    }
    .aboutme-section .right .info .info-desc p{
        font-size: 1.85vw;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .aboutme-section{
        gap:36px;
        margin-top:20px;
    }
    .aboutme-section .right .info .info-title h4{
        font-size: 2.2vw;
    }
    .aboutme-section .right .info .info-desc p{
        font-size: 1.65vw;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .aboutme-section{
        gap:54px;
        margin-top:30px;
    }
    .aboutme-section .right .info .info-title h4{
        font-size: 1.80vw;
    }
    .aboutme-section .right .info .info-desc p{
        font-size: 1.45vw;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1400px) {
    .aboutme-section{
        gap:72px;
        margin-top:40px;
    }
    .aboutme-section .right .info .info-title h4{
        font-size: 1.60vw;
    }
    .aboutme-section .right .info .info-desc p{
        font-size: 1.25vw;
    }
}

@media only screen and (min-width: 1401px) {
    .aboutme-section{
        gap:90px;
        margin-top:50px;
    }
    .aboutme-section .right .info .info-title h4{
        font-size: 1.40vw;
    }
    .aboutme-section .right .info .info-desc p{
        font-size: 1.15vw;
    }
}

.aboutme-section{
    display: flex;

}

.aboutme-section .left{
   /* margin-left: 53.5px; */
    display:flex;
    align-items: center;
}

.aboutme-section .left img{
    width: 100%;
    cursor: url(./images/hearth.svg), auto;
}

/*
.aboutme-section .left {
    width:100%;
    background: url("./images/firstpage/about-me.png") no-repeat;
}

.aboutme-section .left:hover {
    background: url("./images/firstpage/about-me-hover.png") no-repeat;
    width:100%;
}
*/


.aboutme-section .right .info{
    max-width:628px;
}

.aboutme-section .right .info .info-title h4{
    font-weight: 700;
     /* font-size: 26px; */

}

.aboutme-section .right .info .info-desc p{
    font-weight: 400;
    /* font-size: 22px; */

}


/* Footer */

@media only screen and (max-width: 480px) {
    footer{
        margin-top:13px;
    }
    footer ul li{
        margin: 2.8px 0; 
    }
    footer h3{
        font-size: 1.85vw;
    }
    footer ul li a{
        font-size: 1.85vw;
    }
    footer .contacts ul li span{
        font-size: 1.85vw;
    }
    footer .contacts ul li span{
        margin-left:3.2px;
        
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    footer{
        margin-top:26px;
    }
    footer ul li{
        margin: 5.6px 0;
    }
    footer h3{
        font-size: 1.65vw;
    }
    footer ul li a{
        font-size: 1.65vw;
    }
    footer .contacts ul li span{
        font-size: 1.65vw;
    }
    footer .contacts ul li span{
        margin-left:6.4px;
        
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    footer{
        margin-top:39px;
    }
    footer ul li{
        margin: 8.4px 0;
    }
    footer h3{
        font-size: 1.45vw;
    }
    footer ul li a{
        font-size: 1.45vw;
    }
    footer .contacts ul li span{
        font-size: 1.45vw;
    }
    footer .contacts ul li span{
        margin-left:9.6px;
        
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1400px) {
    footer{
        margin-top:52px;
    }
    footer ul li{
        margin: 11.2px 0;
    }
    footer h3{
        font-size: 1.25vw;
    }
    footer ul li a{
        font-size: 1.25vw;
    }
    footer .contacts ul li span{
        font-size: 1.25vw;
    }
    footer .contacts ul li span{
        margin-left:12.8px;
        
    }
}

@media only screen and (min-width: 1401px) {
    footer{
        margin-top:65px;
    }
    footer ul li{
        margin: 14px 0;  
    }
    footer h3{
        font-size: 1.15vw;
    }
    footer .contacts ul li span{
        font-size: 1.15vw;
    }
    footer .contacts ul li span{
        margin-left:16px;
        
    }
}


footer ul{
    list-style:none;
    padding-left: 0px;
    margin:0;
}

footer ul li a{
    text-decoration: none;
    color: #232323;
    font-weight: 400;
   /* font-size: 20px; */    
}

footer h3{
    font-weight: 700;
    /* font-size: 20px; */

}

footer ul li{
    text-decoration: none;
    color: #232323;
    font-weight: 400;
    /* font-size: 20px; */
    
    
}

footer .contacts ul li{
    display: flex;
    align-items: center;
    
}

footer .contacts ul li img{
    width:8%;
    
}


footer .links-container{
    display:grid;
    grid-template-columns: 2fr 2fr 2fr;
    margin-right: min(15%);
    margin-left: min(15%);
}

.footer-wrap{
    border-top:2px solid;
}

footer .find-me{
    text-align: center;
}

footer .find-me img{
    width:20%;
}


/* Project page */

@media only screen and (max-width: 480px) {
    .hero-section-project{
        height:96px;
        margin-top:10px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .hero-section-project{
        height:192px;
        margin-top:20px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .hero-section-project{
        height:288px;
        margin-top:30px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1400px) {
    .hero-section-project{
        height:384px;
        margin-top:40px;
    }
}

@media only screen and (min-width: 1401px) {
    .hero-section-project{
        height:480px;
        margin-top:50px;
    }
}


.projects-navigation{
    display:flex;
    margin-top:80px;
    border-top:1px solid;
    gap:25%;
}

.projects-navigation a{
    text-decoration: none;
    color:#232323;
}


.projects-navigation .left{
    width:37.5%;
    display: flex;
    margin-top:68px;
    align-items: center;
    justify-content: center;
}



.projects-navigation .right{
    width:37.5%;
    display: flex;
    margin-top:68px;
    align-items: center;
    justify-content: center;
}

.projects-navigation .right .next-project{
    font-weight: 400;
    font-size: 1.8vw;
    line-height: 54px;
    text-transform: uppercase;
    
}

.projects-navigation .right .next-icon{
    font-weight: 400;
    font-size: 1.8vw;
    line-height: 54px;
    text-transform: uppercase;
    margin-left:15px;
    
}

.projects-navigation .left .previous-project{
    font-weight: 400;
    font-size: 1.8vw;
    line-height: 54px;
    text-transform: uppercase;
    
}

.projects-navigation .left .previous-icon{
    font-weight: 400;
    font-size: 1.8vw;
    line-height: 54px;
    text-transform: uppercase;
    margin-right:15px;
    
}

.hero-section-project{

    width:100%;
    
    align-items: center;
    justify-content: space-between;
   
    display: flex;
    flex-direction: column;
    position: relative;
    background: radial-gradient(44.06% 319.22% at 50% 50%, #F1BCEC 0%, rgba(255, 242, 254, 0.489583) 41.15%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(47.6% 347.17% at 50% 49.91%, #F1BCEC 0%, rgba(255, 245, 251, 0.604167) 51.9%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border-radius: 18px;

}

.hero-section-project .center{
    text-align: center;
    padding:6px 0 6px 0;
    z-index: 1;
    
}

.hero-section-project img{
    width:100%;
}

.project-section{
    margin-top:80px;
}

.project-section p{
    font-weight: 400;
    /* font-size: 22px; */
    font-size: 1.15vw;
}

.project-section h2{
    font-weight: 400;
    /* font-size: 28px; */
    font-size: 1.40vw;
}

.project-section h1{
    font-weight: 700;
    /*font-size: 40px;*/
    font-size: 1.60vw;
}

.project-section .first .left{
    padding-left:30px;
    border-left:2.5px solid;
    max-height: 786px;
}

.project-section .right {
    width:50%;
}

.project-section .left {
    width:50%;
}

.project-section .left h1{
    margin:0;
}

.project-section .right img{
    width:100%;
}

.project-section .left img{
    width:100%;
}

.project-section .first {
    display:flex;
    gap:69px;
}

.project-section .second .right h1{
    margin-top: 0;
}

.project-section .second {
    margin-top:60px;
    display:flex;
    gap:69px;
}

.project-section .third {
    margin-top:60px;

}

/* Contact me */

.contact-me{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top:110px;
}

.contact-me .form h1{
    margin-bottom: 51px;
}

.contact-me .form .control{
    margin-top:24px;
}

.contact-me .form label{
    font-weight: 400;
    font-size: 26px;
}

.contact-me .form input{
    padding: 23px 757px 23px 20px;
    gap: 10px;

    width: 100%;
    height: 68px;

    background: #FEFEFE;
    border: 1px solid #FADBFF;
    border-radius: 16px;
    margin-top:14px;
    font-size: 0.9vw;
    font-family: "Palatino Linotype";
}

.contact-me .form textarea{
    align-items: flex-start;
    padding: 23px 0px 0px 20px;
    gap: 10px;
    min-height: 200px;

    width: 100%;

    background: #FEFEFE;
    border: 1px solid #FADBFF;
    border-radius: 16px;
    margin-top:14px;
    font-size: 0.9vw;
    font-family: "Palatino Linotype";
    resize: vertical;

}

.contact-me .form{
    text-align: center;
}


.contact-me .control{
    text-align: initial;
}

.contact-me .form .btn{
    margin-top:46px;
}

/*

@keyframes slideInFromLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  */